*.elc
.cask
*~
*.~undo-tree
auto-save-list/**
backups/**
elpa/**
quelpa/**
straight/**
server/**
themes/**
transient/**
.recentf
.smex-items
org-clock-save.el
projectile-bookmarks.eld
ido.last
init.el
dot-gnus.el
*bookmarks*
.last-package-update-day
settings-*.el
diary
ob-text.el
org-archive-subtree-hierarchical.el
opam-user-setup.el
