*.elc
.cask
*~
*.~undo-tree
auto-save-list/**
backups/**
elpa/**
quelpa/**
server/**
themes/**
transient/**
.recentf
.smex-items
org-clock-save.el
projectile-bookmarks.eld
ido.last
init.el
dot-gnus.el
*bookmarks*
init.el.firstrun
.last-package-update-day